@import "../../../common/base";

.gap{
  margin-bottom: 20;
  padding-bottom: 10;
}
.panel-list-illness{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.illness-txt {
  @extend .flex-align;
  padding-top: 15;
  padding-bottom: 15;
  margin-bottom: 20;
  width: 150;
  background-color: $bg-gray;
  font-size: $font-30;
  color: $base-color;
  text-align: center;
}
