@import "base";

.wrap-diseases {
  background-color: $base-white;
  @include border-both(top,bottom);
}
.panel {
  padding-top: 23;
  padding-bottom: 30;
  margin-left: 30;
  padding-right: 30;
  @include border(top);
}
.first-level-tit {
  padding-top: 15;
  padding-bottom: 13;
  font-size: $font-40;
  color: $base-color;
  font-weight: bold;
}
.second-level-tit,
.three-level-tit {
  padding-top: 15;
  padding-bottom: 15;
  font-size: $font-30;
  color: $base-color;
}
.three-level-tit {
  font-weight: bold;
}
.wrap-details {
  flex-direction: row;
  align-items: flex-end;
}
.details {
  flex: 1;
  font-size: $font-26;
  color: $blue-ink;
  line-height: 40;
}
.limit-2 {
  @include text-overflow($lines:2,$ellipsis:ellipsis);
}
.limit-3 {
  @include text-overflow($lines:3,$ellipsis:ellipsis);
}
.show-all {
  lines: 0;
}
.wrap-tit {
  @extend .flex-row-start;
}
.line {
  margin-right: 13;
  width: 8;
  height: 30;
  border-radius: 4;
}
.line-orange {
  background-color: $line-orange;
}
.line-green {
  background-color: $line-green;
}
.line-blue {
  background-color: $line-blue;
}
.wrap-jump {
  height: 90;
  @include border(top);
  @extend .flex-align;
}
.know-more {
  font-size: $font-26;
  color: $blue-ink;
}
