.account-bar {
    margin-bottom: 20;
    @include border-both(top,bottom);
    background-color: $base-white;
}
.account-list {
    padding-left: 30;
    flex-direction: row;
    align-items: center;
    /*height: 100;*/
}
.wrap-list,
.card-list {
    /*height: 100;*/
    @include border(top);
    flex:1;
    flex-direction: row;
    align-items: center;
    padding-top: 30;
    padding-bottom: 30;
    margin-top: -1;
}
.list-text,
.list-text-detail{
    flex: 1;
    font-size: $font-30;
    color: $base-color;
}
.list-text-detail{
    font-size: $font-26;
    color: $blue-ink;
    padding-top: 15;
    lines: 1;
    text-overflow: ellipsis;
}
.picList-img{
    width: 80;
    height: 80;
}

/*医院列表*/
.wrap-tips {
    margin-left: 30;
    margin-top: 40;
    margin-right: 30;
    @extend .flex-row-start;
    font-size: $font-26;
    color: $blue-ink;
}
.tips-txt {
    font-size: $font-26;
    color: $blue-ink;
}
.txt-blue {
    font-size: $font-26;
    color: $base-blue;
}
.list-one-line{
    @include border-both(top,bottom);
    margin-top: 15;
}
.hos-one-inner{
    @include border(top);
    flex-direction: row;
    @extend .flex-align;
    padding-top: 40;
    padding-bottom: 40;
    flex: 1;
    margin-top: -1;
}
.hos-one-right{
    flex: 1;
}
.hos-item-status{
    flex-direction: row;
    align-items: center;
    margin-top: 20;
}
.arrow{
    width: 30;
    height: 30;
    margin-right: 10;
}
.text{
    font-size: $font-24;
    color: $base-color;
    margin-right: 15;
}
.text-orange {
    color: $base-orange;
    font-size: $font-24;
    margin-right: 15;
    lines: 1;
    flex:1;
    text-overflow: ellipsis;
}
.hos-item {
    flex-direction: row;
    align-items: center;
    background-color: $base-white;
    padding-left: 30;
}
.hos-item-img {
    margin-right: 15;
    height: 80;
    width: 80;
}
.hos-item-text {
    color: $base-color;
    lines: 1;
    text-overflow: ellipsis;
    font-size: $font-30;
    font-weight: bold;
}
/*两端对齐 文本 更多*/

.wrap-nav {
    @extend .flex-row-between;
}
.tit-nav {
    margin-top: 40;
    padding-left: 30;
    padding-bottom: 20;
    font-size: $font-26;
    color: $blue-ink;
}
.more {
    padding-right: 30;
    font-size: $font-24;
    color: $blue-ink;
}

