@import "base";

.tabs {
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  background-color: $base-white;
  @include border-both(top,bottom)
}

.tab-box {
  flex: 1;
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.border-active {
  @include border(bottom,$base-blue,$width-value:4);
}

.border-default {
  @include border(bottom,$base-white,solid,4);
}

.text {
  flex: 1;
  font-size: $font-30;
  color: $base-color;
  font-weight: bold;
  text-align: center;
}

.department {
  @include border(right,#e3e3e3);
}
.selected{
  color: $base-blue;
}