/*首页 box中小标题，可分为两部分，右侧加更多*/
.title-box {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30;
}
.title {
  font-size: $font-26;
  color: $blue-ink;
}
/* 选择号源中 - 上午号源 小标题*/
.title-gray{
    font-size: $font-24;
    padding-left: 30;
    padding-top: 35;
    padding-bottom: 15;
    color: $blue-ink;
    @include border(bottom);
    background-color: $bgcolor;
}
/*健康管理首页 标题*/
.title-line-box {
  padding-left: 30;
  padding-bottom: 30;
  flex-direction: row;
  @include border(bottom);
}
.title-line-text {
  font-size: $font-26;
  color: $blue-ink;
}

.title-gray-default{
    font-size: $font-24;
    padding-left: 30;
    padding-top: 35;
    padding-bottom: 15;
    color: $blue-ink;
    background-color: $bgcolor;
}
/*search 两端对齐 文本 更多*/
.title-gray-box {
    @extend .flex-row-between;
}
.title-gray-left {
    font-size: $font-24;
    color: $blue-ink;
    padding-left: 30;
    padding-top: 35;
    padding-bottom: 15;
    padding-right: 30;
}
.title-gray-right {
    font-size: $font-24;
    color: $blue-ink;
    padding-left: 30;
    padding-top: 35;
    padding-bottom: 15;
    padding-right: 30;
}
