// @Author: songqi
// @Date:   2017-02-24
// @Last modified by:   songqi
// @Last modified time: 2017-02-28

@import "../../common/base";
.wrap-pannel {
  @include abs-pos();
  height: 260;
}

.slide-point {
  @include abs-pos(auto,0,20,0);
  margin: auto;
  flex-direction: row;
  @extend .flex-align;
}
.point,
.current{
  width: 10;
  height: 10;
  border-radius: 5;
  background-color: $gray-point;
  margin-left: 5;
  margin-right: 5;
}
.current {
  background-color: $dialog-submit-color;
}

.slide-box {
  margin-top: 30;
  margin-left: 30;
  margin-right: 30;
  height: 180;
}
