/**
* @Author: songqi
* @Date:   2017-01-19
* @Last modified by:   songqi
* @Last modified time: 2017-01-19
*/

@import "../../../common/base";

.wrapper {
    position: absolute;
    top: 82;
    right: 0;
    bottom: 0;
    left: 0;
}
.list-one-line{
    margin-top: 15;
}
.hos-one-inner{
    padding-left: 20;
    @include border(top);
    flex-direction: row;
    @extend .flex-align;
    padding-top: 40;
    padding-bottom: 40;
    flex: 1;
}
.hos-one-right{
    flex: 1;
}
.hos-item-status{
    flex-direction: row;
    align-items: center;
    margin-top: 20;
    margin-left: 15;
}
.arrow{
    width: 30;
    height: 30;
    margin-right: 10;
}
.text{
    font-size: $font-24;
    color: $base-color;
    margin-right: 15;
}
.hos-item {
    flex-direction: row;
    align-items: center;
    background-color: $base-white;
}
.hos-item-img {
    height: 80;
    width: 80;
}

.hos-item-text {
    flex: 1;
    margin-left: 15;
    color: $base-color;
    lines: 1;
    text-overflow: ellipsis;
    font-size: $font-30;
    font-weight: bold;
}

.hos-two {
    flex-direction: row;
    @extend .flex-align;
    padding-right: 15;
}
.hos-two-rows {
    flex: 1;
    flex-direction: row;
    background-color: $base-white;
    @extend .flex-align;
    margin-left: 15;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 20;
    border-radius: 8;
    margin-top: 15;
    @include border-all(#dfe1eb);
}

.hos-two-img {
    height: 80;
    width: 80;
}

.hos-two-text {
    flex: 1;
    margin-left: 20;
    lines: 2;
    text-overflow: ellipsis;
    color: $base-color;
    font-size: $font-30;
    padding-right: 10;
    line-height: 38;
}
.odd-bg {
    background-color: rgba(0,0,0,0);
    border-width: 0;
}
.hidden {
    hidden: true;
}
.show {
    hidden: false;
    flex: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.no-open{
    font-size: $font-24;
    background-color: #e6e6e6;
    color: $blue-ink;
    text-align: center;
    width: 80;
    height: 36;
    line-height: 30;
    position: absolute;
    top: 0;
    right: 10;
}
