// @Author: songqi
// @Date:   2017-02-24
// @Last modified by:   songqi
// @Last modified time: 2017-04-10

@import "src/js/css/core/base";

.gap {
  margin-bottom:    20;
  padding-right:     0;
  padding-bottom:    0;
  padding-left:      0;
  height: 260;
  overflow: hidden;
}
.title {
  padding-left: 30;
}
.slide-img {
  @include abs-pos($left:10,$top: 45);
  width: 670;
  height : 135;
}
